document.getElementById('image-holder').style.display ='none';
// document.getElementById('team_image').remove();
// document.getElementById('buttons_zone').innerHTML += '<input style="display: none" name="team[image]" id="team_image" type="file" />';


// document.getElementById('triggerFile').remove();
// document.getElementById('buttons_zone').innerHTML += '<a id="triggerFile" class="waves-effect waves-light btn"><i class="material-icons left">picture_in_picture</i>Image</a>';