<div class="container">
  <div class="row">
    <h1 class="col s8 offset-s2">Editing Team</h1>
  </div>
</div>

<%= render 'form' %>
<%= hidden_field_tag "team_id", @team.id %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $("#close_modal").on("click", function () {
      $(".lean-overlay").css("display", "none");
    });
    $('select').material_select();
    $('.modal-trigger').leanModal();
    $("#add_player_button").on("click", function () {
      $.ajax({
        type: "POST",
        url: "/teams/add_players_from_edit",
        data: {
          dni: $("#dni").val(),
          team_id: $("#team_id").val(),
        }
      });
    });
  });
</script>