<div class="container">

  <h4 class="center title">Sports Installations</h4>

  <table class="responsive-table bordered striped centered">
    <thead>
    <tr>
      <th>Installation</th>
      <th>Sport</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @sports_installations.each do |sports_installation| %>
        <tr>
          <td><%= link_to sports_installation.installation.name, sports_installation.installation %></td>
          <td><%= sports_installation.sport.name %></td>
          <td><%= link_to 'Show', sports_installation, class: "button btn blue blue-ligthen-2 lighten-2" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
