<div class="container">

  <h5>Editing Comment from <%= @comment.installation.name %></h5>

  <%= render 'form' %>

  <div>
    <%= link_to @comment.installation do %>
        <i class="material-icons">settings_backup_restore</i>
    <% end %>
  </div>
</div>