<h2>Books Table</h2>
<table class="striped highlight centered responsive-table">
  <thead class="">
  <tr>
    <th data-field="id">Start Hour</th>
    <th data-field="name">End Hour</th>
    <th data-field="price">Price</th>
    <th data-field="price">Booked</th>
  </tr>
  </thead>

  <tbody class="lighten-3">
  <%= content_tag_for(:tr, @time_bands) do |time_band| %>
      <td><%= time_band.start_hour %></td>
      <td><%= time_band.end_hour %></td>
      <td>15 €</td>
      <% if SportsInstallationsTimeBand.find_by_time_band_id(time_band.id).free %>
          <td>
            <%= link_to "javascript:void(0)", id: time_band.id, class: "waves-effect waves-light btn add_booking" do %>
                <i class="material-icons left">library_add</i>
                <span>Book</span>
            <% end %>
          </td>
      <% else %>
          <td class="red lighten-2">Booked</td>
      <% end %>
  <% end %>
  </tbody>
</table>
</div>

<script !src="">
  $(".add_booking").on("click", function () {

    if ($("#" + $(this).attr("id") + " i").html() == "library_add") {
      $("#time_band_id").val($(this).attr("id"));
      $("#" + $(this).attr("id") + " i").html("done");
      $("#" + $(this).attr("id") + " span").html("ok");
      $(".selected_book i").html("library_add");
      $(".selected_book span").html("book");
      $(".selected_book").removeClass("selected_book");
      $(this).addClass("selected_book");
    } else if ($("#" + $(this).attr("id") + " i").html() == "done") {
      $("#time_band_id").val("");
      $("#" + $(this).attr("id") + " i").html("library_add");
      $("#" + $(this).attr("id") + " span").html("book");
      $(this).removeClass("selected_book")
    }

  });
</script>