<h4>Time Bands <i class="material-icons">av_timer</i></h4>
<table class="striped highlight centered responsive-table">
  <thead class="">
  <tr>
    <th data-field="id">Start Hour</th>
    <th data-field="name">End Hour</th>
    <th data-field="price">Price</th>
    <th data-field="price">Booked</th>
  </tr>
  </thead>

  <tbody>
  <%= content_tag_for(:tr, @time_bands) do |time_band| %>
      <% (time_band.date == Date.today) && (DateTime.strptime(time_band.start_hour, '%H:%M') < Time.now) ? next : false %>
      <td><%= time_band.start_hour %></td>
      <td><%= time_band.end_hour %></td>
      <td>15 €</td>
      <% if SportsInstallationsTimeBand.where(sports_installation_id: @sports_installation.id, time_band_id: time_band.id).first.free %>
          <td>
            <%= link_to "javascript:void(0)", id: time_band.id, class: "btn-floating btn-large waves-effect waves-light add_booking" do %>
                <i class="material-icons left">library_add</i>
                <span>Free</span>
            <% end %>
          </td>
      <% else %>
          <td><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">lock</i></a></td>
      <% end %>
  <% end %>
  </tbody>
</table>

<script !src="">
  $(".add_booking").on("click", function () {

    if ($("#" + $(this).attr("id") + " i").html() == "library_add") {
      $("#time_band_id").val($(this).attr("id"));
      $("#" + $(this).attr("id") + " i").html("done");
      $("#" + $(this).attr("id") + " span").html("ok");
      $(".selected_book i").html("library_add");
      $(".selected_book span").html("free");
      $(".selected_book").removeClass("selected_book");
      $(this).addClass("selected_book");
    } else if ($("#" + $(this).attr("id") + " i").html() == "done") {
      $("#time_band_id").val("");
      $("#" + $(this).attr("id") + " i").html("library_add");
      $("#" + $(this).attr("id") + " span").html("free");
      $(this).removeClass("selected_book")
    }

  });
</script>

</div>
